body {
    padding-top:10px;
 font-family:'Segoe UI';
 width:6000px;

}
.horizontalContainer {
    width:auto;
    height:650px;
    max-height:650px;
    box-sizing:border-box;
    margin-top:40px;
     overflow-x:scroll;
     overflow-y:hidden;
}
.main-content {
  padding: 40px 15px;
  text-align: center;
}

.buttonsGroup {
    padding: 10px;
}

.fieldset {
    margin-bottom: 5px;
    padding: 5px;
}

.fieldset legend {
    margin-bottom: 5px;
    padding: 5px;
    margin-bottom: 2px;
}

.btn {
    margin: 3px;
}

.form-group {
    margin-top: 5px;
}

.dataTables_wrapper {
    margin: 25px;
}
input , select {
    border-width:2px;
    color:#dcdcdc;
    height:30px;
    line-height:30px;
}
/**Menu**/
.navbar .container {
    margin-left: 24px;
}
.navbar-inverse {
    background-color: #686868;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
ul.navbar-nav {
    width: 100px;
    float: Right;
    border-left: 2px solid #01a4ef;
    margin-top:10px;
}
.navbar-nav > li > a {
    background-color: #686868!important;
    font-size:18px;
    padding:5px 5px;
    width:100%;
}
/**Home Layout**/
#homeSect , #profSect{
    display:inline;
    width:Auto;
    
}
    #homeSect Div {
        float: left;
        box-sizing:border-box;
    }
    #homeSect Section {
        width: 60%;
        max-width:615px;
        float:left;
    }
        #homeSect Section:first-child {
            width: 40%;
            margin-top:100px;
            box-sizing:border-box;
            float:left;
        }
    #homeSect Header {        
        width:100%;
    }
    #homeSect H1 {
        box-sizing:border-box;
        padding-left:20px;
        width:100%;
        font-size:50px;
    }
    #homeSect article {
        width:100%;
         text-wrap:normal;
         padding-left:30px;
        
    }
    /***Button Sizes***/

#colLeft , #colRight {
    width: 50%;
    float:left;
    box-sizing:border-box;
    padding:0px 5px;
}
.bigBtn {
   min-height:250px; 
   
}
.bigBtn ,  .medBtn {
        box-sizing: border-box;
        width:100%;
        float: left;
        max-width:305px;
        margin-top:5px;
        cursor:pointer;
    }
.smallBtn {
    box-sizing: border-box;
    width: 50%;
    float:left;
    max-width:150px;
    margin-top:5px;
    cursor:pointer;
}
.bigBtn label , .medBtn label , .smallBtn label  {
    display: block;
    height: 20%;
    width: 100%;
    color: #fff;
    font-weight:normal;
}
/***Button Colours***/
.green {
    background-color:#7fba00;
}
.red {
    background-color:#f25022;
}
.blue {
    background-color:#01a4ef;
}
.yellow {
    background-color:#ffb901;
}
        
/**Profile Page**/
#profSect {
    width: Auto;
    float:left;
}
    #profSect section {
        float:left;
        width:400px;
        height:500px;
        margin-left:50px;
    }
        #profSect section.profContact {
            width:300px;
        }
        #profSect section h1{
            font-family:'Segoe UI';
        }
        #profSect section.profDetails > ul ,  #profSect section#profScore > ul {
            padding: 0px;
            margin: 0px;
        }
        #profSect section.profDetails > ul > li ,  #profSect section#profScore > ul > li{
           list-style-type:none;
           line-height:30px;
           margin-bottom:5px;
           width:100%;
           float:left;
        }
            #profSect section.profDetails > ul > li label {
                display: block;
                font-weight:normal;
                font-size:16px;
            }
            #profSect section.profDetails > ul > li.nameDetails input {
                margin-right:5px;
                Width:190px;
                float:left;
            }
        #profSect section#company .btn-group {
            width:100%;
        }
        #profSect section#company .btn-group button{
            width:80%;
            text-align:right;
        }
        #profSect section#profScore ul {
            margin-top: 30px;
        }
#profSect section#profScore div.scoreDiv {
    width:100%;
    float:left;

}
    #profSect section#profScore div.scoreDiv Div {
        width: 120px;
        float: left;
        margin-bottom:10px;
    }
#profSect section#profScore div.scoreDiv .block {
    width: 80px;
    height:80px;
    float: left;
}
        #profSect section#profScore .block label {
            box-sizing:border-box;
            display:block;
            position:relative;
            top:50px;
            padding-right:5px;
            text-align:right;
            width:100%;
            font-size:18px;
            font-weight:normal;
        }
        #profSect section#profScore .scoreDiv .scoreText label {
            font-size: 22px;
            font-weight: normal;
            line-height: 24px;
            padding-left:5px;
            margin-bottom:0px;
        }
        #profSect section#profScore .scoreDiv .scoreText p {
            padding-left: 5px;
            margin: 0px;
            line-height:16px;
        }
#profSect section#submitSect {
            width: 1024px;
            height:30px;
            background-color:pink;
            clear:both;     
            position:relative;       
        }
/*****COLOURS*****/
/*
    red #f25022;
    Green #7fba00;
    Blue #01a4ef;
    Yellow #ffb901;
    Black #2e2e2e;
    Grey #686868;
    --Overlays--
    red #eb2e10;
    Green #408800;
    Blue #0069df;
    Yellow #ff8601;

    */