@using JBOB.HtmlHelpers


<ul>
    <li>@Html.Link("Twitter Bootstrap Components", "http://getbootstrap.com/2.3.2/components.html")</li>
    <li>@Html.Link("Twitter Bootstrap CSS", "http://getbootstrap.com/2.3.2/base-css.html")</li>
</ul>

<fieldset>
    <legend>Bootstrap Form Examples</legend>
    
    <div class="form-group">
        <label for="emailInput">Email address</label>
        <input type="email" class="form-control" id="emailInput" placeholder="Enter email">
    </div>

    <div class="form-group">
        <div class="checkbox">
        <label><input type="checkbox" class="checkbox"> Check me</label>
      </div>
    </div>
</fieldset>

