<section id="cardCreate">
    <h1>Create a card</h1>  
    <div class="form-control">
        <ul>
            <li>
                <label></label>Card Title
                <input type="text"/>
            </li> 
            <li>
                <label>Image</label>
                <input type="file"/>
            </li>
            <li>
                <label>Catergory</label>
                <div class="dropdown">
  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Dropdown
    <span class="caret"></span>
  </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li>Charity</li>
                    <li>Sustainabilty</li>
                    <li>Forna/Flora</li>
                    <li>Children</li>
                </ul>
                </div>
            </li>
            <li>Type</li>
            <li>Description</li>
        </ul>
        
    </div>
</section>