<section id="profCreate">
   
    <script>

        function selectMe(elem) {
            $(elem).addClass('selectedItem');
        }

    </script>
    
    
    <h1>Create a card</h1> 
    <ul >
        <li id="bigButtons">
            <div class="form-group">
                <ul >
                    <li><a href="#"><div class="red block" onclick="selectMe(this);"><label>#DO</label></div></a></li>
                    <li><a href="#"><div class="green block" onclick="selectMe(this);"><label>#WILL</label></div></a></li>
                    <li><a href="#"><div class="blue block" onclick="selectMe(this);"><label>#GIVE</label></div></a></li>
                </ul>
                </div>
            
        </li>
        <li>
            <div class="form-group">
                <label for="titleInput">Card Title</label>
                <input type="text" class="form-control" style="width:360px" id="newCard_title" placeholder="Card Title">
            </div>
            
        </li>
        <li>
            <div class="form-group">
            <label>Card Image</label>
            <div class="form-group">
                <input type="file" id="exampleInputFile">
            </div>
                </div>
        </li>
        
        <li>
            <div class="form-group">
                <label for="catDropdown" id="catSelect" >Catergory</label>
                

                <!-- Should not be using this dropdown  -->
                <div class="btn-group" id="catDropdown" >
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                       <span id="newCard_selectedCategory">Charity</span>  <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" >
                        <li>Flora/Fauna</li>
                        <li>Sustainabilty</li>
                        <li>Charity</li>       
                        <li>Schooling</li>
                    </ul>
                </div>
            </div>
        </li>
         <li>
            <div class="form-group">
                <label for="exampleInputEmail1">Description</label>
                
                <textarea id="newCard_description" class="form-control" rows="3"></textarea>
            </div>
        </li>
    </ul>
        
  <button type="button" onclick="$.JBOB.page.dataAccess.createCard()" class="btn btn-default">Submit</button>

</section>
<section id="cardDetail" class="hide viewCard" >
    <div class="coolBorder" style="float:left">
        <ul id="xtra" >
            <li><img class="img-thumbnail" src="~/Content/images/CotlandsSite.jpg" id="viewCardPic"/></li>
            <li class="widFloat"><h2><label id="cardViewTitle">67 Min of my time to Cotlands</label></h2></li>
            <li style="width:350px">
                <ul style="width: 100%">
                        
                    <li style="width: 100%; padding: 5px"><p><span id="descripCardStuff">Cotlands is committed to filling the medico-socio-economic gaps in communities, by providing a range of services that will ensure the provision of food security, reverse the spread of HIV/AIDS, create jobs, and foster self-sustainability</span></p></li>
                    <li style="width: 100%; background-color: #ffb901"><p style="margin:5px 0px; padding:5px"><span id="hashTags">#Cotlands #67Minutes #Children #NelsonMandelaDay #play #health #Survial #Learn #CareGivers #Toys #Time #Nutrition #Development</span></p></li>
                </ul>
                <div style="margin-top:20px;float: Right">
                    <button type="button" id="Share" class="btn btn-default btn-lg">Share</button>
                    <button type="button" id="actionCard" class="btn btn-default btn-lg">Action</button>
                </div>
                    
            </li>
        </ul>
    </div>
</section>
