<section id="profCreate">
    <h1>Create a card</h1> 
    <ul >
        <li id="big Buttons">
            <div class="form-group">
                <label>Card Type</label>
                <ul >
                    <li><a href="#"><div class="red block">...</div></a></li>
                    <li><a href="#"><div class="green block">...</div></a></li>
                    <li><a href="#"><div class="blue block">...</div></a></li>
                </ul>
                </div>
            
        </li>
        <li>
            <div class="form-group">
                <label for="titleInput">Card Title</label>
                <input type="text" class="form-control" id="titleInput" placeholder="First Name">
            </div>
            
        </li>
        <li>
            <div class="form-group">
            <label>Card Image</label>
            <div class="form-group">
                <input type="file" id="exampleInputFile">
            </div>
                </div>
        </li>
        
        <li>
            <div class="form-group">
                <label for="exampleInputEmail1">Catergory</label>
                
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Please Select <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Flora/Fauna</a></li>
                        <li><a href="#">Sustainabilty</a></li>
                        <li><a href="#">Charity</a></li>       
                        <li><a href="#">Schooling</a></li>
                    </ul>
                </div>
            </div>
        </li>
         <li>
            <div class="form-group">
                <label for="exampleInputEmail1">Description</label>
                
            <textarea class="form-control" rows="3"></textarea>
            </div>
        </li>
    </ul>
        
  <button type="button" class="btn btn-default">Submit</button>

</section>
<section id="viewCard">
    <div>
        <img src="/"/>
        <h2>title</h2>
        <p>text text text</p>
        <p>Hash Tags</p>
        <div>button Share</div>
        <div>button action</div>
    </div>
</section>