<Section id="welcomeSect">
    <header>
       <h1>
            Making ordinary  
       </h1> 
        <h1>people,</h1>
        <h1>
            Everyday Heroes
        </h1>
    </header>
    <article>
        <p>
            <i>corporate social investment </i>
            has a pivotal role to play
    in bringing about meaningful transformation to the 
    benefit of all. 
    </p>
    </article>
</Section>
<Section id="tileSect">
    <div id="colLeft">
        <div class="bigBtn red">
            <label>the Depot</label>
        </div>
        <div class="bigBtn yellow" onclick="scrollScore()">
            <label>Scoreboard</label>
        </div>
    </div>
    <div id="colRight">
        <div class="medBtn green" onclick="scrollCreate()">
            <label>Create a card</label>
        </div>
        <div class="smallBtn blue marginRight" onclick="scrollBadge()">
            <label>Badges</label>
        </div>
        <div class="smallBtn yellow">
            <label>Trending</label>
        </div>
        <div class="medBtn red ">
            <label>HR Reports</label>
        </div>
        <div class="medBtn blue">
            <label>In The News</label>
        </div>
    </div>
   
</Section>

