<Section>
    <header>
       <h1>
            Making ordinary  
       </h1> 
        <h1>people,</h1>
        <h1>
            Everyday Heroes
        </h1>
    </header>
    <article>
        <p>
            <i>corporate social investment </i>
            has a pivotal role to play
    in bringing about meaningful transformation to the 
    benefit of all. 
    </p>
    </article>
</Section>
<Section>
        <div id="colLeft">
            <div class="bigBtn red">
                <label>the Depot</label>
            </div>
            <div class="bigBtn yellow">
                 <label>the Depot</label>
            </div>
        </div>
        <div id="colRight">
            <div class="medBtn green ">
                 <label>the Depot</label>
            </div>
            <div class="smallBtn blue">
                 <label>the Depot</label>
            </div>
            <div class="smallBtn yellow">
                 <label>the Depot</label>
            </div>
            <div class="medBtn red ">
                 <label>the Depot</label>
            </div>
            <div class="medBtn blue">
                 <label>the Depot</label>
            </div>
        </div>
</Section>
<div style="float:right"><a href="#" onclick="scrollhome()">Home</a> </div>