@using System.Web.Optimization
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@* @section PageContent {*@
     
    <Section id="homeSect">

        @{Html.RenderPartial("_homePartial");}
    </Section>
    <Section id="profSect">   
        @{Html.RenderPartial("_profilePartial");}
    </Section>
    <section id="cardSect">
        @{Html.RenderPartial("_cardCreatePartial");}
    </section> 



@*  } *@

@section PageScripts {
     @Scripts.Render("/Scripts/Pages/home.js")
}
