
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Every Day Heroes</a>
              </div>
              <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                      <li id="menu_home">@*@Html.ActionLink("my profile", "Index", "My Profile")*@<a href="#" onclick="scrollProfile()">my profile</a></li>                     
                  </ul>
                   <div class="smallTitle">Powered by Plexus</div>
              </div><!--/.nav-collapse -->
          </div>